@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    /* background-size: 1920px; */
    background-color: beige;
    font-family:  'Ubuntu', sans-serif;
}

img{    
    height: 200px;
    width: 200px;
}

